.page {
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color);
  background-attachment: fixed;
}

.header {
  position: relative;
  min-inline-size: 375px;
  block-size: 100vh;
  min-block-size: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__rec {
  display: none;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: var(--text-font-size);
  color: var(--rec-color);
  font-family: var(--font-family);
  text-transform: uppercase;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border: 1px solid var(--menu-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-right: none;
  border-top: none;
}

.header__rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--rec-color);
}

.header__theme-menu {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  margin-inline-end: 10px;
  margin-block-start: 75px;
  margin-block-end: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-family);
  font-size: var(--text-font-size);
  color: var(--menu-color);
}

.header__theme-menu-button {
  transition: all 0.3s ease;
  /* line-height: 1; */
  appearance: none;
  padding-inline: 13px;
}

.header__title,
.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__title {
  margin-inline: var(--page-margin);
}

.accent {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
  line-height: 83%;
  font-family: var(--font-family);
}

.header__text {
  justify-self: center;
  align-self: center;
  margin-block-end: 66px;
  margin-block-start: 55px;
  margin-inline: var(--page-margin);
}

.title-decor {
  background-color: var(--decor-color);
  color: var(--title-text-color);
  font-weight: bold;
  font-size: var(--text-font-size);
  line-height: 23.4px;
  font-family: var(--font-family);
}

.text__link {
  text-decoration: none;
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--link-shadow-color);
  font-family: var(--font-family);
}

.section__title {
  font-family: var(--font-family);
  color: var(--section-title-color);
  font-size: var(--text-font-size);
  margin-block-end: var(--margin-title);
}

.section {
  margin-inline: var(--page-margin);
}

.section-why {
  margin-block-start: 40px;
  margin-block-end: 50px;
}

.advices__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text__title-xl {
  margin-block-end: var(--margin-title-s);
}

.main__text {
  font-family: var(--font-family);
  color: var(--text-color);
  margin-block-end: var(--margin-title);
  line-height: 23.4px;
  font-size: var(--text-font-size);
}

.text__title {
  font-weight: normal;
  margin-block-end: var(--margin-title-s);
}

.section-advices .section__title {
  margin-block-start: 50px;
}

.img__section {
  margin-block-start: 30px;
}

.img__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-block-end: 40px;
}

.footer {
  position: relative;
  block-size: 100vh;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  max-inline-size: 348px;
  inline-size: 100%;
  text-shadow: 2px 2px 0 var(--footer-shadow-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--focus-color);
}

a:hover {
  border-bottom: 1px solid var(--text-color);
}

a:focus {
  outline: none;
  border: 1px solid var(--text-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--focus-color);
  pointer-events: none;
}

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: 0px;
  }

  .header__text {
    margin-block-start: 45px;
    margin-inline-start: 384px;
    margin-inline-end: 20px;
  }

  .header__theme-menu {
    margin-inline-end: 20px;
    margin-block-start: 80px;
  }

  .header__rec {
    top: 20px;
    right: 30px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .section {
    margin-inline: 20px;
  }

  .section-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-grid);
    margin-block-start: 60px;
  }

  .section-why .section__title {
    grid-column: 1;
    margin-inline-start: 0px;
  }

  .section-why .main__text {
    grid-column: 2;
  }

  .section-why .text__title-xl {
    grid-column: 2;
  }

  .section-why .list {
    display: flex;
    flex-direction: column;
  }

  .section-causes {
    margin-block-start: 60px;
  }

  .section-causes .section__title {
    margin-inline-end: 512px;
    margin-inline-start: 0px;
  }

  .section-advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--gap-grid);
    margin-block-start: 80px;
  }

  .section-advices .section__title {
    margin-block-start: 0px;
    grid-column: 1;
  }

  .section-advices > .text__title {
    grid-column: 2;
    margin-block-end: -10px;
  }

  .section-advices > .text__title-xl {
    grid-column: 2;
  }

  .section-advices > .main__text {
    grid-column: 2;
  }

  .img__section {
    padding-block-start: 30px;
    margin-block-end: 60px;
  }

  .img__section .text__title-xl {
    margin-block-end: 0px;
  }

  .img__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: min-content 1fr 1fr 1.5fr; */
    gap: var(--gap-grid);
  }

  .img__container img {
    block-size: 100%;
    inline-size: 100%;
    object-fit: cover;
  }

  .img__container > .text__title-xl {
    grid-row: 1;
    grid-column: 1/4;
  }

  .sunset-img {
    grid-column: 1 / 3;
    grid-row: 2;
  }

  .ice-cream-img {
    grid-column: 3;
    grid-row: 2 / 4;
  }

  .tape-img {
    grid-column: 1;
    grid-row: 3 / 5;
  }

  .books-img {
    grid-column: 2;
    grid-row: 3;
  }

  .street-img {
    grid-column: 2 / 4;
    grid-row: 4;
  }

  /* .footer {
    margin-block-start: 260px;
  } */

  .footer__title {
    max-inline-size: 360px;
    inline-size: 100%;
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(9.8125rem, 9.0268rem + 1.2277vw, 10.5rem);
  }

  .header__theme-menu {
    justify-content: start;
    align-items: center;
    margin-block-start: 20px;
    margin-block-end: 0px;
    margin-inline: 0px;
  }

  .header__theme-menu-item {
    margin-inline: 0px;
    padding-inline: 0px;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__text {
    margin-inline-start: 513px;
  }

  .section-why {
    grid-template-columns: 1fr 2.06fr;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .section-causes .section__title {
    grid-column: 1;
    margin-inline-end: 689px;
    gap: var(--gap-grid);
  }

  .section-advices {
    grid-template-columns: 1fr 2.06fr;
    margin-block-start: 60px;
  }

  .footer__title {
    max-inline-size: 471px;
    inline-size: 100%;
  }
}
